[Unit]
Description=Flask Desk Control
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=username
Group=username
Environment=FLASK_APP=/home/username/idasen-control/main.py
ExecStart=/home/username/idasen-control/main.py
Restart=always