[Unit]
Description=Flask Desk Control
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=cas
Group=cas
WorkingDirectory=/home/user/idasen-control
Environment=FLASK_APP=/home/user/idasen-control/server.py
ExecStart=/home/user/idasen-control/server.py
Restart=always